apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: nginx-app
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/userincognito87-bit/argocd-test.git
    targetRevision: main                                           
    path: .    
  destination:
    server: https://kubernetes.default.svc                           
  syncPolicy:
    automated:
      prune: true
      selfHeal: true 
      allowEmpty: false        
    syncOptions:
      - Validate=true
      - CreateNamespace=false
      - PrunePropagationPolicy=foreground
      - PruneLast=true